<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/profile">Entry</ion-item>
      <ion-item routerLink="/contact">Contact</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <img src="../../assets/Images/AerLingusa330.jpg" alt="">
    <div class="about">
      <div id="title2">
        <ion-text>Hello, my name is Aaron, and much like whoever is reading this I’m sure that you like planes, I have
          loved aviation since I was a kid and as I’ve grown, I have only go more interested in it. I wanted to make
          this
          app to allow us all to work together and make one of the best aviation apps there is for avgeeks, and my hope
          is
          that you will help me do this, below I have some guidelines and rules to follow and a how to intro to help you
          get started.</ion-text>
      </div>
      <ion-text><br><br></ion-text>
      <div id="howToGuide">
        <ion-text id="title">---How to Guide---</ion-text>
        <!-- step 1 followed by image -->
        <!-- step 2 followed by image -->
        <!-- step 3 followed by image -->
        <!-- step 4 followed by image -->
        <!-- step 5 followed by image -->
        <!-- step 6 followed by image -->
      </div>
    </div>
  </ion-content>
</div>