<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-text id="Heading">Scroll Down</ion-text>
      <img src="../../assets/Images/F4.jpg" alt="">
      <div class="PlaneData">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-input label="Text input" placeholder="Enter Airline" id="airlineInput"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Text input" placeholder="Enter Tail Number" id="tailNumberInput"></ion-input>
              </ion-item>
              <ion-select aria-label="Cargo" placeholder="Select Type" id="typeSelect">
                <ion-select-option value="passenger">Passenger</ion-select-option>
                <ion-select-option value="cargo">Cargo</ion-select-option>
                <ion-select-option value="military">Military</ion-select-option>
              </ion-select>
              <ion-select aria-label="Cargo" placeholder="Special Livery" id="liverySelect">
                <ion-select-option value="sYes">Yes</ion-select-option>
                <ion-select-option value="sNo">No</ion-select-option>
              </ion-select>
            </ion-list>
            <ion-button (click)="saveData()">Save</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </div>
</ion-content>
