<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/profile">Entry</ion-item>
      <ion-item routerLink="/contact">Contact</ion-item>
      <ion-item routerLink="/about">About</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="HomePage">
      <ion-title>Welcome to AviApp</ion-title>
      <ion-text>The idea of AviApp is to bring together everyone in the avation community and create the largest
        database for plane spooters there is.
        My hope is that we can all get along and enjoy some of the best aircraft in the world.
      </ion-text>
      <img src="../../assets/Images/planeSunBack.jpg" alt="">
      <ion-text>There are many types of planes and many types of pictures that can be taking but as a community we need
        to accept that everyone is at a different level, has different equipment and different taste.</ion-text>
      <img src="../../assets/Images/F4.jpg" alt="">
      <ion-text>Some of us like miltary planes, and my hope is that we can create one of the largest databases of
        mordern and old planes, as there is so many from when we first took flight in back in 1910.</ion-text>
      <img src="../../assets/Images/spitfire.jpg" alt="">
      <ion-text>We also all have opioins about different planes and what are favoirts are and what era's we like but
        when we're out planespotting we should all try and get along and share these opioions</ion-text>
      <img src="../../assets/Images/Quantas747.jpg" alt="">
      <ion-text>I do hope we can do this and try and bring this wonderful hobby to as many people as possible, please
        enjoy this app to help along the way. Vist about for infomation about me or the app.</ion-text>
      <br><br>
      <ion-text>Heres you loacation</ion-text>
      <ion-button (click)="getGPS()">GPS</ion-button>
      long={{long}}, lat={{lat}}
      <br><br><br>
      <ion-card *ngFor="let movie of movies">
        <img alt="Movie Poster" src={{movie.Poster}} />
        <ion-card-header>
          <ion-card-title>{{movie.Title}}</ion-card-title>
          <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
</div>